.img-container--smallbanner {
    width: 100%;
    height: 45vh;
  }
  
  .img-container--smallbanner img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  
/*SECTIONS*/
.about-description {
  width: 1170px;
  padding: 0px 15px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

@media (max-width: 1170px) {
  .about-description{
    width: 970px;
  }
  .section-content {
    padding: 64px 0px;
  }
}

@media (max-width: 992px) {
  .about-description{
    flex-direction: column;
    width: 750px;
  }
  .section-content {
    padding: 48px 0px;
  }
}

@media (max-width: 760px) {
  .about-description{
    width: 100%;
  }
  .section-content {
    padding: 32px 0px;
  }
}

/* ABOUT-DESCRIPTION */
.about-description__left, 
.about-description__right{
  padding: 0px 15px;
}

.about-description__right img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* OUR TEAM */



  /* @media (max-width: 1170px) {
    .img-container--smallbanner {
      height: 31vh;
    }
  } */