/** Global styles**/
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

html {
  font-size: 14px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Glegoo", serif;
}

:root {
  --color-cream: #f3f3f3;
  --color-crimson: #ff5063;
  --color-purple: #3c43a4;
}

/** Styles for banner
    Can change it´s properties depending on the page it is used
**/
.banner {
  width: 100%;
}

.menu-list {
  display: flex;
  list-style: none;
}

.rounded-container {
  border-radius: 50%;
  background-color: var(--color-purple);
}

/** Product card **/
.product-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.product-card button {
  width: fit-content;
  height: fit-content;
  border: 1px solid #717171;
  padding: 7px 21px;
  border-radius: 5px;
  font-size: 1.1rem;
  background-color: transparent;
  cursor: pointer;
}

.product-description h5 {
  font-size: 1.1rem;
  color: #ff5063;
  line-height: 1.1;
  text-align: center;
}

.product-description p {
  display: flex;
  margin-top: 20px;
  justify-content: space-evenly;
}

.product-description p span {
  color: #999;
  text-decoration: line-through;
}

.product-description p i {
  color: black;
  font-size: 1.1rem;
  font-style: normal;
  font-weight: bold;
}

/** Styles for header, this properties will be the same in all pages 
    since header is present on each one of them.
**/
.header {
  width: 100%;
}

.header-container {
  display: flex;
}

.header-container--top {
  padding: 30px 0px;
  justify-content: space-evenly;
  align-items: center;
}

.header-container--bottom {
  justify-content: center;
  background-color: #3c43a4;
}

.logo h1 {
  font-size: 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 1.5;
}

.logo h1 span {
  font-size: 0.7rem;
  letter-spacing: 7px;
}

.menu-list--header {
  padding: 20px 0px;
}

.menu-item-header a {
  padding: 20px 30px;
  font-size: 1rem;
  font-weight: 400;
  color: white;
}

.menu-item-header:hover a {
  color: #ff5063;
  cursor: pointer;
}

.login {
  padding: 10px 24px;
  border: 1px solid #3c43a4;
  transition: border-radius 0.5s ease;
  cursor: pointer;
}

.login span::before {
  content: "Login";
  font-weight: 500;
}

.login:hover {
  border-radius: 15px;
  background-color: #3c43a4;
  color: white;
}

.icon-container--search {
  background-color: #ff5063;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

.btn-search {
  height: 38px;
  width: 54px;
  border: 0px;
  outline: none;
  background-color: transparent;
  color: white;
  font-size: 1rem;
  cursor: pointer;
}

.icon-container--cart {
  position: fixed;
  z-index: 1;
  background-color: #ff5063;
  border-radius: 3px;
  right: 10%;
  display: flex;
  justify-content: center;
}

.btn-cart {
  width: 50px;
  height: 44px;
  border: 0px;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}

.btn-cart i {
  color: white;
  font-size: 32px;
}

@media (max-width: 1170px) {
  .icon-container--cart {
    right: 5%;
  }
}

@media (max-width: 992px) {
  .icon-container--cart {
    right: 2%;
  }
}
