/** Global styles**/
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

html {
  font-size: 14px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Glegoo", serif;
  font-weight: 500;
}

:root {
  --color-cream: #f3f3f3;
  --color-crimson: #ff5063;
  --color-purple: #3c43a4;
}

/** Styles for banner
    Can change it´s properties depending on the page it is used
**/
.banner {
  width: 100%;
}

.rounded-container {
  border-radius: 50%;
  background-color: var(--color-purple);
}

/** Product card **/
.product-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.product-card img {
  object-fit: contain;
}

.product-card button {
  width: fit-content;
  height: fit-content;
  border: 1px solid #717171;
  padding: 7px 21px;
  border-radius: 5px;
  font-size: 1.1rem;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
}

.product-card button:hover {
  background-color: var(--color-purple);
  border-color: var(--color-purple);
  color: white;
}

.product-description h5 {
  font-size: 1.1rem;
  color: #ff5063;
  line-height: 1.1;
  text-align: center;
}

.product-description p {
  display: flex;
  margin-top: 20px;
  justify-content: space-evenly;
}

.product-description p span {
  color: #999;
  text-decoration: line-through;
}

.product-description p i {
  color: black;
  font-size: 1.1rem;
  font-style: normal;
  font-weight: bold;
}

/*Sections*/
.section-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 0px;
}

.section-content--footer {
  padding: 64px 0px;
}

.section-title h2 {
  font-size: 2.3rem;
  font-weight: 500;
  padding-bottom: 64px;
  position: relative;
}

.section-title h2::before {
  content: "";
  position: absolute;
  top: 27%;
  left: -65%;
  background: var(--color-crimson);
  height: 1px;
  width: 55%;
}

.section-title h2::after {
  content: "";
  position: absolute;
  bottom: 79%;
  right: 13%;
  background: #212121;
  height: 1px;
  width: 55%;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
}

.section-content--highlighted {
  background-color: #f3f3f3;
}

/** Styles for header, this properties will be the same in all pages 
    since header is present on each one of them.
**/
.header {
  width: 100%;
}

.header-container {
  display: flex;
}

.header-container--top {
  padding: 30px 0px;
  justify-content: space-evenly;
  align-items: center;
}

.header-container--bottom {
  justify-content: center;
  background-color: #3c43a4;
}

.logo h1 {
  font-size: 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 1.5;
  letter-spacing: 2px;
}

.logo h1 span {
  font-size: 0.7rem;
  letter-spacing: 5px;
}

.menu-toggler {
  width: 50px;
  height: 50px;
  position: relative;
  margin-right: 10px;
  margin-top: 10px;
  display: none;
  justify-content: center;
  cursor: pointer;
}

.menu-toggler::before,
.menu-toggler::after {
  position: absolute;
  content: "";
  display: block;
  width: 70%;
  height: 5px;
  background-color: white;
}

.menu-toggler::before {
  top: 10%;
}

.menu-toggler::after {
  top: 50%;
}

.menu-toggler span {
  margin-top: 30%;
  display: block;
  width: 70%;
  height: 5px;
  background-color: white;
}

.menu {
  list-style: none;
  padding: 20px 0px;
}

.menu--inactive {
  display: none;
}

.menu--active {
  display: flex;
}

.menu-item a {
  padding: 20px 30px;
  font-size: 1rem;
  font-weight: 400;
  color: white;
  text-decoration: none;
}

.menu-item:hover a {
  color: #ff5063;
  cursor: pointer;
}

.login {
  padding: 10px 24px;
  border: 1px solid #3c43a4;
  transition: border-radius 0.5s ease;
  cursor: pointer;
}

.login span::before {
  content: "Login";
  font-weight: 500;
}

.login:hover {
  border-radius: 15px;
  background-color: #3c43a4;
  color: white;
}

.icon-container--search {
  background-color: #ff5063;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

.btn-search {
  height: 38px;
  width: 54px;
  border: 0px;
  outline: none;
  background-color: transparent;
  color: white;
  font-size: 1rem;
  cursor: pointer;
}

.icon-container--cart {
  position: fixed;
  z-index: 1;
  background-color: #ff5063;
  border-radius: 3px;
  right: 10%;
  display: flex;
  justify-content: center;
}

.btn-cart {
  width: 50px;
  height: 44px;
  border: 0px;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}

.btn-cart i {
  color: white;
  font-size: 32px;
}

@media (max-width: 1170px) {
  .icon-container--cart {
    right: 5%;
  }
}

@media (max-width: 992px) {
  .icon-container--cart {
    right: 2%;
  }
}

@media (min-width: 581px) {
  .menu {
    width: 100%;
    flex-direction: row;
    display: flex;
  }
}

@media (max-width: 580px) {
  .navbar--header {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    overflow: hidden;
  }
  .menu {
    width: 100%;
    flex-direction: column;
  }
  .menu-toggler {
    display: flex;
  }
  .menu-item {
    padding: 20px 30px;
    text-align: center;
  }
}

/** Footer **/
.footer-info {
  width: 1170px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  font-style: normal;
}

.footer-info h3 {
  font-size: 1.7rem;
  margin-bottom: 48px;
  position: relative;
  padding-bottom: 5px;
}

.footer-info h3::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  border-bottom: 2px solid var(--color-purple);
  width: 20%;
}

.footer-info p {
  margin-bottom: 28px;
  color: #999;
}

.footer-info ul {
  list-style: none;
}

.footer-info ul li {
  margin-bottom: 14px;
  color: #999;
}

.footer-info__frequent,
.footer-info__categories,
.footer-info__contact,
.footer-info__social {
  padding: 0px 15px;
}

.footer-info__frequent li,
.footer-info__categories li {
  padding-left: 30px;
  background: url(../public/assets/img/arrow.png) no-repeat -6px -98px;
}

.footer-info__contact li,
.footer-info__contact li i,
.footer-info__social li,
.footer-info__social li i {
  display: flex;
  align-items: center;
}

.footer-info__contact li i,
.footer-info__social li i {
  border: 1px solid;
  padding-top: 2.5%;
  margin-right: 15px;
}

.footer-info__contact li i {
  width: 32px;
  height: 32px;
  flex-direction: column;
  color: black;
}

.footer-info__social ul {
  display: flex;
}

.footer-info__social ul li {
  margin-bottom: 0px;
}

.footer-info__social li i {
  width: 35px;
  height: 35px;
  background-color: black;
  color: white;
  justify-content: center;
}

.web-designers {
  padding-top: 48px;
}

.web-designers p {
  color: #999;
}

/** Media Queries **/
@media (max-width: 1170px) {
  .footer-info {
    width: 970px;
  }
  .section-content {
    padding: 64px 0px;
  }
}

@media (max-width: 992px) {
  .footer-info {
    width: 750px;
  }
  .footer-info {
    grid-template-columns: 1fr 1fr;
  }
  .section-content {
    padding: 48px 0px;
  }
}

@media (max-width: 760px) {
  .footer-info {
    width: 100%;
  }
  .section-content {
    padding: 32px 0px;
  }
}
