.img-container--homebanner {
  width: 100%;
  height: 700px;
}

.img-container--homebanner img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/*Sections*/
/** Quick access products **/
.section-content {
  display: flex;
  justify-content: center;
  padding: 80px 0px;
}

.section-content--highlighted {
  background-color: #f3f3f3;
}

.quick-access-products {
  display: flex;
  width: 1140px;
  height: 455px;
  padding: 0px 15px;
  align-items: center;
}

.quick-access-products__right {
  width: 100%;
  padding: 0px 15px;
  align-self: flex-start;
}

.menu-list--quick-access-products {
  justify-content: flex-start;
}

.menu-item-tabproducts {
  display: block;
  font-size: 1.2rem;
  padding: 10px 15px;
  border-bottom: 1px solid var(--color-purple);
  cursor: pointer;
}

.menu-item-tabproducts.active {
  background-color: var(--color-purple);
  color: white;
}

.quick-access-products__left {
  padding: 0px 15px;
}

.quick-access-products__left img {
  height: 455px;
  width: 455px;
  object-fit: cover;
}

.grid-products {
  margin-top: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 15px;
}

.product-card--sm {
  width: 196px;
  height: 361px;
}

.product-card--sm img {
  width: 100%;
  height: 222px;
}

/** Agile info section**/
.agileinfo {
  height: 400px;
  width: 100%;
  display: flex;
}

.agileinfo__left {
  width: 60%;
  position: relative;
}

.agileinfo__right {
  width: 40%;
}

.agileinfo__left img,
.agileinfo__right img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.agileinfo__description {
  position: absolute;
  top: 25%;
  right: 5%;
  color: black;
}

.agileinfo__description h3 {
  display: flex;
  flex-direction: column;
  color: #212121;
  font-family: "Glegoo", serif;
  text-align: right;
  font-weight: lighter;
  font-style: italic;
}

.agileinfo__description h3 span {
  color: var(--color-crimson);
  font-size: 2.8rem;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-top: 20px;
}

.agileinfo__description h3 span i {
  color: black;
}

/** Special Deals Section **/
.specialdeals {
  width: 1140px;
  height: 600px;
  padding: 0px 15px;
  display: grid;
  grid-template-columns: 1.3fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 30px;
}

.specialdeals #img-span2 {
  height: 100%;
  width: auto;
  grid-row: span 2;
}

.agile-real-experiences {
  width: 100%;
  background-color: var(--color-purple);
}

/** New products section **/
.newproducts {
  width: 1140;
  padding: 0px 15px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 30px;
}

.product-card--lg {
  width: 255px;
  height: 478px;
}

.product-card--lg img {
  width: 100%;
  height: 340px;
}

/** Newsletter **/
.newsletter {
  display: flex;
  padding: 48px 0px;
  background-color: var(--color-purple);
  justify-content: space-evenly;
}

.newsletter h3 {
  font-size: 2rem;
  color: white;
}

.newsletter p {
  color: #bfbfbf;
}

.newsletter input {
  width: 378px;
  height: 40px;
}
