.img-container--homebanner {
  width: 100%;
  height: 700px;
}

.img-container--homebanner img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/*Sections*/
/** Quick access products **/
.section-content {
  display: flex;
  justify-content: center;
  padding: 80px 0px;
}

.section-content--highlighted {
  background-color: #f3f3f3;
}

.quick-access-products {
  display: flex;
  width: 1140px;
  height: 455px;
  padding: 0px 15px;
  align-items: center;
}

.quick-access-products__right {
  width: 100%;
  padding: 0px 15px;
  align-self: flex-start;
}

.menu-list--quick-access-products {
  justify-content: flex-start;
}

.menu-item-tabproducts {
  display: block;
  font-size: 1.2rem;
  padding: 10px 15px;
  border-bottom: 1px solid var(--color-purple);
  cursor: pointer;
}

.menu-item-tabproducts.active {
  background-color: var(--color-purple);
  color: white;
}

.quick-access-products__left {
  padding: 0px 15px;
}

.quick-access-products__left img {
  height: 455px;
  width: 455px;
  object-fit: cover;
}

.grid-products {
  margin-top: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 15px;
}

.product-card--sm {
  width: 196px;
  height: 361px;
}

.product-card--sm img {
  width: 100%;
  height: 222px;
}

/** Agile info section**/
.agileinfo {
  height: 400px;
  width: 100%;
  display: flex;
}

.agileinfo__left {
  width: 60%;
  position: relative;
}

.agileinfo__right {
  width: 40%;
}

.agileinfo__left img,
.agileinfo__right img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.agileinfo__description {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  position: absolute;
  top: 25%;
  right: 5%;
  color: black;
}

.agileinfo__description h3 {
  display: flex;
  flex-direction: column;
  color: #212121;
  text-align: right;
  font-weight: lighter;
  font-style: italic;
}

.agileinfo__description h3 span {
  color: var(--color-crimson);
  font-size: 2.8rem;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-top: 20px;
}

.agileinfo__description h3 span i {
  color: black;
}

.agileinfo a {
  margin-top: 40px;
  text-decoration: none;
  font-size: 1.1rem;
  letter-spacing: 2px;
  color: var(--color-crimson);
  background: url(../public/arrow.png) no-repeat 108px -7px;
  padding: 0 45px 0 0;
  transition: background 1s ease;
}

.agileinfo a:hover {
  color: black;
  background: url(../public/arrow.png) no-repeat 108px -40px;
}

/** Special Deals Section **/
.specialdeals {
  width: 1140px;
  height: 600px;
  padding: 0px 15px;
  display: grid;
  grid-template-columns: 1.3fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 30px;
}

.img-container--specialdeals-left,
.img-container--specialdeals-right {
  position: relative;
}

.img-container h3,
.img-container h5 {
  position: absolute;
  display: flex;
  flex-direction: column;
  font-size: 2.3rem;
}

.img-container h3 {
  color: white;
  font-weight: lighter;
}

.img-container--specialdeals-left {
  overflow: hidden;
}

.img-container--specialdeals-left img {
  transition: transform 0.5s ease;
}

.img-container--specialdeals-left:hover img {
  transform: scale(1.1);
}

.img-container--specialdeals-left h3 {
  top: 45%;
  left: 10%;
}

.img-container--specialdeals-left h3 span {
  margin-top: 5px;
  color: var(--color-crimson);
  font-weight: bold;
  margin-left: 40px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 2rem;
}

.img-container--specialdeals-right {
  grid-row: span 2;
}

.rounded-container--specialdeals {
  position: absolute;
  background-color: var(--color-purple);
  border-radius: 50%;
  width: 100px;
  height: 100px;
  top: 5%;
  right: 5%;
}

.rounded-container--specialdeals h5 {
  color: white;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  font-weight: lighter;
  line-height: 1.1;
}

.rounded-container--specialdeals h5 span {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.agile-real-experiences {
  width: 100%;
  background-color: var(--color-purple);
}

.img-container--specialdeals-right h3 {
  display: block;
  top: 5%;
  right: 20%;
}

.img-container--specialdeals-right h3 span {
  font-weight: bold;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.img-container--specialdeals-right h5 {
  color: var(--color-crimson);
  top: 13%;
  right: 20%;
}

.img-container--specialdeals-right h5 span {
  color: white;
  align-self: center;
  font-weight: lighter;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 300;
}

/** New products section **/
.newproducts {
  width: 1140;
  padding: 0px 15px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 30px;
}

.product-card--lg {
  width: 255px;
  height: 478px;
}

.product-card--lg img {
  width: 100%;
  height: 340px;
}

/** Newsletter **/
.newsletter {
  display: flex;
  padding: 48px 0px;
  background-color: var(--color-purple);
  justify-content: space-evenly;
}

.newsletter h3 {
  font-size: 2rem;
  color: white;
}

.newsletter p {
  color: #bfbfbf;
}

.newsletter input {
  width: 378px;
  height: 40px;
}
