#derecha {
  width: 490px;
  border: 1px;
  height: auto;
  overflow: hidden;
}
#izquierda {
  width: 490px;
}

.iframe-form-container {
  display: flex; /** Get more deeper into this concept,is really usefull**/
  flex-wrap: nowrap;
  width: 100%; /** this container will ocupy one hundred percent of the screen**/
  justify-content: center; /** Then we place the elements (form) and (iframe) in the center**/
}
