.products {
    display: flex;
}

.products__left {
    width: 30%;
    background-color: blueviolet;
}

.products__right {
    width: 70%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: aqua;
}

